//
@use 'bootstrap';

$brand-color: #0282f9;
$comics: #1c1c1c;
$light-brand: #0282f9;
$light-comics: #303030;

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

#jumbo {
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
   .blueBar {
       background-color: $brand-color;
       color: white;

       p {
           padding: 0.3rem 0;
           font-size: 0.5rem;

           i {
               font-size: 0.6rem;
           }
       }
   }
   .myNav {
       
       .row {
         
           .col-9 {
              ul {
                  height: 90px;
                  line-height: 90px;
              }
           }

           input {
               border: none;
               border-bottom: 3px solid $brand-color;
               font-weight: bold;
           }
       }
   }
}

main {
    #comics {
        background-color: $comics;
        color: white;

        .jumboSpan {
            margin: 0;
            margin-top: -1.5rem;

            span {
                width: 15rem;
                background-color: $light-brand;
                display: inline-block;
                height: 3rem;
                text-align: center;
                line-height: 3rem;
                font-weight: bold;
                font-size: 1.5rem
                
            }
        }

        .myCard {
            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: top;
            }
            p {
                text-transform: uppercase;
                margin-top: 1rem;
            }
        }

        .col-12 {
            text-align: center;
            button {
                border: none;
                padding: 0.5rem 2rem;
                font-weight: bold;
                color: white;
                background-color: $light-brand;
            }
        }
    }

    #shop {
        background-color:$light-brand;
        color: white;

        .shopItems {
            .col {
                display: flex;
                align-items: center;
                img {
                    width: 4rem;
                    margin-right: 1rem;
                    height: 4rem;
                    object-fit: contain;
                }
            }
        }
    }
}

footer {
    .linkSection {
        background-image: url('../img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

        .row {
            background-image: url('../img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: right;
            background-size: auto;
        }

        p {
            font-weight: bold;
        }

        a {
            color: #959595;
            text-decoration: none;

        }

        .col-6 {
            color: #959595;
           font-weight: normal;
        }
    }

    .followUs {
        background-color: $light-comics;
        color: white;

        button {
            color: white;
            border: 2px solid $light-brand;
            padding: 1rem 1rem;
        }

        .icons {
            p {
                color: $light-brand;
            }
        }
    }
}